body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2; /* 연한 하늘색 배경 */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.insertForm {
	width: 400px;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formTitleSpan {
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #333; /* 글자색 추가 */
}

.insertTable {
	width: 500px;
	border-collapse: collapse;
}

.insertTable th {
	width: 80px;
	text-align: right;
	padding: 8px;
	color: #555;
}

.insertTable td {
	padding: 8px;
}

.insertTable input[type="text"],
.insertTable textarea,
.insertTable input[type="date"] {
	width: 90%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 14px;
	resize: vertical;
}

.insertTable textarea {
	height: 200px;
}

.formSubmit {
	display: block;
	width: 100px;
	padding: 10px;
	margin: 20px auto 0;
	background-color: #54c058; /* 버튼 배경색 */
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
}

.formSubmit:hover {
	background-color: #45a049; /* 버튼 호버 배경색 */
}
