.listBoardTable {
    width: 90vw;
    max-width: 600px;
}

.listBoardTable th {
    width: auto;
    background-color: #e0f1f0; /* 연한 하늘색 배경 */
    color: #333;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 8px;
}

.listBoardTableTitle {
    display: block;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333; /* 글자색 추가 */
}

#noticeBoardTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

#noticeBoardTable th,
#noticeBoardTable td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

#noticeBoardTable th {
    background-color: #f4f4f4;
    font-weight: bold;
}

#page-area {
    margin-top: 20px;
    text-align: center;
}

#page-area a {
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
}

#page-area a:hover {
    text-decoration: underline;
}

#page-area strong {
    margin: 0 5px;
    font-weight: bold;
}

#search-area {
    text-align: center;
}

#searchBox {
    display: inline-block;
    width: 50%;
    padding: 10px 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.insertBtn,
.tableButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #54b5cc; /* 연한 하늘색 계열 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease; /* 호버 효과를 부드럽게 만듦 */
}

.insertBtn:hover,
.tableButton:hover {
    background-color: #48a7ba; /* 더 진한 하늘색 계열 */
}

.tableDetailDiv {
    width: 80vw;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.tableDetailDiv .formTitleSpan {
    display: block;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333; /* 글자색 추가 */
}

.detailTable {
    width: 100%;
    border-collapse: collapse;
}

.detailTable th,
.detailTable td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.detailTable th {
    background-color: #f4f4f4;
    font-weight: bold;
}

#tableDeleteButton {
    margin: 0;
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    background-color: #54b5cc; /* 연한 하늘색 계열 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#tableDeleteButton:hover {
    background-color: #48a7ba; /* 더 진한 하늘색 계열 */
}

#popUpDateHoli {
    font-size: 18pt;
}
