#main {
  display: grid;
  gap: 10px;
}

.teamRoomMainDiv {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

@media (min-width: 900px) {
  #main {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  #main {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 599px) {
  #main {
      grid-template-columns: 1fr;
  }
}