@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.do-hyeon-regular {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#folderOutline {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
}

#folderHead {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  border-bottom: 1px solid black;
  position: relative;
  top: 1px;
  font-family: "Do Hyeon", sans-serif;
}

.folderTitleBar {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid black;
  border-bottom: none;
  transition: background-color 0.3s ease;
  font-family: "Do Hyeon", sans-serif;
}

.folderTitleBar:hover {
  background-color: #ddd;
}

.folderTitleBar.active {
  background-color: white;
  border-bottom: 1px solid white;
  font-weight: bold;
  font-family: "Do Hyeon", sans-serif;
}

#folderBody {
  padding: 20px;
  height: auto;
  font-family: "Do Hyeon", sans-serif;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
