@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.myform fieldset{
  display: inline-block;
  direction: rtl;
  border: none;
}
.myform input[type=radio]{
  display: none;
}
.myform label{
  font-size: 1.5em;
  color: transparent;
  text-shadow: 0 0 0 #eae9f0;
}

.myform label:hover{
  text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.myform label:hover ~ label{
  text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.myform input[type=radio]:checked ~ label{
  text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.myform2 fieldset{
  display: inline-block;
  direction: rtl;
  border: none;
}
.myform2 input[type=radio]{
  display: none;
}
.myform2 label{
  font-size: 1.5em;
  color: transparent;
  text-shadow: 0 0 0 #eae9f0;
}
.myform2 label:hover{
  text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.myform2 label:hover ~ label{
  text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.myform2 input[type=radio]:checked ~ label{
  text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.myform3 fieldset{
  display: inline-block;
  direction: rtl;
  border: none;
}
.myform3 input[type=radio]{
  display: none;
}
.myform3 label{
  font-size: 1.5em;
  color: transparent;
  text-shadow: 0 0 0 #eae9f0;
}
.myform3 label:hover{
  text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.myform3 label:hover ~ label{
  text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.myform3 input[type=radio]:checked ~ label{
  text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.myform4 fieldset{
  display: inline-block;
  direction: rtl;
  border: none;
}
.myform4 input[type=radio]{
  display: none;
}
.myform4 label{
  font-size: 1.5em;
  color: transparent;
  text-shadow: 0 0 0 #eae9f0;
}
.myform4 label:hover{
  text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.myform4 label:hover ~ label{
  text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.myform4 input[type=radio]:checked ~ label{
  text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.out{
  margin: 5%;
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
  border: 1px solid rgb(184, 184, 184);
}

#say > textarea {
  width: 30%;
  height: 100px;
  resize: none;
}

#sub{
  width: 80px;
  height: 40px;
  border: 1px solid  rgb(118, 147, 174);
  background-color: rgb(175, 227, 255);
  border-radius: 5%;
  cursor: pointer;
}

#date{
  display: flex;
  justify-content: end;
  margin-right: 2%;
}

#dataItem{
  color: #00062b;
}

#finishEval{
  height: 40px;
  background-color: #e0f7fa;
  border: 1px solid rgb(58, 66, 88);
  border-radius: 4px;
  cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #e0f7fa;
}
