@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

#out{
    margin: 2%;
    display: flex;
    justify-content: center;
    font-family: 'Do Hyeon', sans-serif;
}

#title {
    text-align: center;
}

.write-form{
    width: 60vw;
    height: vw;
    border: 1px solid black;
}

.write-form > #form {
    margin: 2%;
}

#projectNo{
    width: 30px;
}

#goal {
    resize: none;
    width: 100%;
    height: 50px;
}

#personalSchedule {
    resize: none;
    width: 100%;
    height: 100px;
}

.submit-bar {
    margin: auto;
    text-align: center;
}

#submit {
    width: 100px;
    height: 40px;
    border-radius: 5%;
    border: none;
    background-color: rgb(169, 221, 255);
}