@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* styles.css */
#out{
  display: flex;
  justify-content: center;
  font-family: "Do Hyeon", sans-serif;
  font-style: normal;
}


#mainTable > tbody >tr:hover{
    background-color: lightblue;
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
}
#mainTable{
  width: 700px;
}
#mainTable > tbody > tr > td{
  text-align: center;
}

table > thead > tr{
  text-align: center;
}



#divSearch{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}