@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.do-hyeon-regular {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(-45deg, #0d21ff, hwb(221 67% 0%), #07008e);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/*-------------------------------*/



/*-------------------------------*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.do-hyeon-regular {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
}


.join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
  background-color: rgb(254, 254, 254);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transform: translateY(0);
  width: 400px;
}

.join:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(115, 162, 250, 0.3);
}

.join h1 {
  color: rgb(74, 143, 173);
  margin-bottom: 25px;
  font-family: "Do Hyeon", sans-serif;
  font-weight: normal;

  background: linear-gradient(to right, rgb(33, 66, 255), rgb(218, 218, 218), #6b68ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: gradientMove 3s ease infinite; 

}

@keyframes gradientMove {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

.join form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.join label {
  color: rgb(54, 20, 245);
  margin-bottom: 5px;
  font-family: "Do Hyeon", sans-serif;
  font-weight: normal;
}

.join input, .join select {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(210, 225, 255);
}

.join button {
  padding: 10px;
  margin-top: 5%;
  border-radius: 5px;
  border: none;
  background-color: rgb(210, 225, 255);
  border-color: rgb(9, 0, 251);
  color: rgb(0, 40, 237);
  font-size: 16px;
  font-family: "Do Hyeon", sans-serif;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.join button::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  transition: opacity 0.5s;
  opacity: 0;
  pointer-events: none;
}

.join button:hover {
  background-color: rgb(210, 225, 255);
  box-shadow: 0 0 15px rgba(21, 0, 255, 0.5);
}

.join button:active::before {
  opacity: 1;
  transition: opacity 0s;
}

.join button:active {
  box-shadow: 0 0 20px rgb(74, 143, 173);
}


