#container{
  margin: 0 auto;
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
}

#header {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5개의 열을 동일한 비율로 설정 */
  align-items: center; /* 요소들을 수직 가운데 정렬 */
}

#header > * {
  text-align: center; /* 모든 자식 요소의 텍스트 가운데 정렬 */
}

#centerDate{
  height: 70px;
}

#currentMonth{
  margin: 0 auto;
  height: 20px;
  width: 100px;
  border: 0;
}

input[type='month']::-webkit-clear-button {
  display: none;
}

#lastMonthBtn, #nextMonthBtn {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}

.headerBtn{
  display: flex;
  width: 100px;
  height: 60px;
  justify-self: center;
  align-self: center;
}

#footer{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}


.calendar > div:nth-child(7n+1) {
  background-color: #fce7ea;
}


.calendar > div:nth-child(7n) {
  background-color: #fce7ea;
}

.day {
  height: 75px;
  width: 95%;
  margin: 1px auto;
  border: 1px solid lightgray;
  text-align: center;
  font-size: 10pt;
  cursor: pointer;
  border-radius: 10px;
}

.header-day {
  display: grid;
  height: 30px;
  background-color: pink;
  place-items: center;
}

.day:hover {
  background-color: lightgray;
}

.today {
  background-color: lightblue;
}

#today {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  font-size: 20pt;
  border: none;
}

.disabled {
  color: lightgray;
  cursor: default;
}

#wrap > div {
  width: 80vw;
  height: 80vh;
  background-color: rgb(255, 210, 210);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 999;
  padding: 20px;
  color: white;
  border-radius: 10px;
}

#anniversaryBoardBtn{
  position: absolute;
  right: 5px;
  bottom: 130px;
}

#scheduleBoardBtn{
  position: absolute;
  right: 5px;
  bottom: 105px;
}

#todoBoardBtn{
  position: absolute;
  right: 5px;
  bottom: 80px;
}

#diaryBoardBtn{
  position: absolute;
  right: 5px;
  bottom: 55px;
}

#accountBoardBtn{
  position: absolute;
  right: 5px;
  bottom: 30px;
}

.holiday {
    color: red;
    font-weight: bold;
}

.holiday-day {
    background-color: #fdd;
}