#container {
  margin : 0 auto;
  display: grid;
  width :100vw;
  justify-items: center;
  align-items: center;
  place-self: center;
}

#wrap{
  display: grid;
  width: 100%;
  max-width: 600px;
  height: 800px;
  justify-items: center;
  align-items: center;
  place-self: center;
  background: #FEF0F0;
  border-radius: 10px;
}

#section {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 400px;
  height: 600px;
  background: #FFDDDD;
  border-radius: 10px;
}

#section div {
  display: grid;
  justify-items: center;
  align-items: center;
}

#indexTitle {
  margin: 0 auto;
  margin-top: 10px;
  width: 250px;
  height: 50px;
  background: #FC7373;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 1000;
}

#indexPic {
  width: 262px;
  height: 350px;
  border: 0px solid black;
  border-radius: 10px;
}

#indexLogin {
  width: 150px;
  height: 50px;
  background: #FFA7A7;
  border-radius: 10px;
}

#indexLogin button{
  width: 100%;
  height: 100%;
  background: #FFA7A7;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 700;
}

#indexJoin {
  width: 150px;
  height: 50px;
  background: #FFA7A7;
  border-radius: 10px;
}

#indexJoin button{
  width: 100%;
  height: 100%;
  background: #FFA7A7;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 700;
}

