#popUp {
  max-width: 400px;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 999;
  padding: 20px;
  color: white;
  border-radius: 10px;
}

#popUpDate{
  font-size: 20pt;
}

#closePopUp {
  position: absolute;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 20px;
}

#popUp button{
  border-radius: 10px;
  height: 50px;
  width: 50px;
}

.closeDivBtn{
  border-radius: 10px;
  height: 50px;
  width: 50px;
}


#closeInsertCalendarBtn {
  position: absolute;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 20px;
}

#insertCalendar {
  display: grid;
  justify-items: center;
}

#categoryName {
  margin-top: 50px;
  padding: 5px;
  box-sizing: border-box;
  width: auto;
  height: 50px;
  border-radius: 10px;
  left: 464px;
  top: 225px;
  background: #FFABAB;
  border: 1px solid #FFFFFF;
  font-size: 20pt;
  appearance:none;
  text-align-last: center;
}

#inputBox {
  margin: 20px;
  display: grid;
  justify-items: center;
  box-sizing: border-box;
  width: 70vw;
  height: 60vh;
  border-radius: 10px;
  left: 115px;
  top: 470px;

  background: #FFCCC5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#inputBox div{
  margin: auto;
  margin-top: 20px;
  justify-self: center;
}

#inputBox input, textarea{
  font-size: 1.5rem;
  width: 50vw;
  justify-items: center;
}

#content{
  height: 30vh;
}

#date {
  color: lightgray;
  content: attr(placeholder);
}


#inputBox > #submitBtn {
  margin: 20px;
  width: 100px;
}

#insertToggleBtn{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#insertBtnDiv{
  display: grid;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#insertDetailDiv {
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 10px;
  right: 10px;
}

#anniversaryBoardBtn{
  position: absolute;
  right: 5px;
  bottom: 130px;
}

#scheduleBoardBtn{
  position: absolute;
  right: 5px;
  bottom: 105px;
}

#todoBoardBtn{
  position: absolute;
  right: 5px;
  bottom: 80px;
}

#diaryBoardBtn{
  position: absolute;
  right: 5px;
  bottom: 55px;
}

#accountBoardBtn{
  position: absolute;
  right: 5px;
  bottom: 30px;
}

