.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-kr-regular {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*------------------*/


#main {
  display: grid;
  gap: 10px;
}

.teamRoomMainDiv {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}



@media (min-width: 900px) {
  #main {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  #main {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 599px) {
  #main {
      grid-template-columns: 1fr;
  }
}


#container {
	margin: 0 auto;
	display: grid;
	width: 90vw;
	height: 80vh;
	grid-template-columns: 5fr;
	grid-template-rows: 1fr;
	background-color: #eae9f0; /* 연한 하늘색 배경 */
}

/*--------------------------------*/

#headerContainer {
	display: grid;
	grid-template-columns: 2fr 4fr 2fr;
	background:linear-gradient(90deg,#4A6FB9, #37538A, #3B30B8, #1B0063);
	border-radius: 15px;
	margin: 15%;
	margin-bottom: 0;
	margin-top: 5%;
}

#headerContainer button{
	border: none;
	outline: none;
	background-color: transparent;
	color: white;
}

.btn{
	display: grid;
	grid-template-rows: 1fr 1fr;
	margin: 6%;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
}

#goto, #leave{
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  font-family: 'Arial', sans-serif; 
  color: #333; 
  transition: transform 0.2s, box-shadow 0.2s; 
}

#goto:hover, #leave:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}



#headerContainer div:last-child {
	text-align: center;
	font-size: 16pt;
}





#profile{
	display: grid;
	grid-template-rows: 1fr 1fr;
	text-align: center;
	color: white;
}

#profile pre{
  font-family: "Jua"; 
  height: 30px;
  font-size: larger;
}

#btn2{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50px;
}

.upload-container {
	color: white;
	text-align: center;
	background: transparent;
	padding: 20px;
	border-radius: 15%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.upload-container img {
	max-width: 50%;
	height: auto;
	display: none;
	margin-top: 20px;
}
.upload-container input {
	margin-top: 20px;
}
/*-------------------------------*/




#up{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 15pt; 
	font-weight: 800;
}

#down{
	margin-top: 5%;
	margin-bottom: 5%;
}

.nav {
	margin: 3px;
	width: auto;
}

.nav a {
	color: rgb(63, 107, 230);
	text-decoration-line: none;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: medium;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav:hover {
	color: lightgray;
}




/*-------------------------------*/

#footer {
	/* width: 100%; */
	/* height: 150px; */
	background-color: #f1f1f1;
	border-top: 1px solid #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
}
