@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Do Hyeon', sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.form-container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group .label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-group .value {
    font-size: 15pt;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Do Hyeon', sans-serif;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="password"],
.form-group select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15pt;
    font-family: 'Do Hyeon', sans-serif;
}

.submit-button,
.edit-button,
.getBack-button{
  margin: 0 5px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 13pt;
}

.submit-button,
.edit-button,
.getBack-button {
  background-color: #ddd;
  color: #4a8fad;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .form-group label {
        font-size: 14px;
    }

    .form-group input[type="text"],
    .form-group input[type="date"],
    .form-group select {
        font-size: 14px;
    }
}