@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Do Hyeon', sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.form-container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-group div {
    font-size: 15pt;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Do Hyeon', sans-serif;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15pt;
    font-family: 'Do Hyeon', sans-serif;
}

.form-group input[type="submit"] {
    background-color: #4a8fad;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-family: 'Do Hyeon', sans-serif;
}

.form-group input[type="submit"]:hover {
    background-color: #357594;
    box-shadow: 0 0 15px rgba(138, 228, 255, 0.6);
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .form-group label {
        font-size: 14px;
    }

    .form-group input[type="text"],
    .form-group input[type="date"],
    .form-group select {
        font-size: 14px;
    }
}