@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

#out {
  margin: 2%;
  font-family: 'Do Hyeon', sans-serif;
}

#out > h2 {
  text-align: center;
}

#out2 {
  display: flex;
  text-align: center;
  justify-content: center;
}

#writeBtn{
  margin-top: 2%;
  margin-right: 5%;
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: #e0f7fa;
  border: 1px solid lightgrey;
  border-radius: 5%;
}

#writeBtn:hover{
  background-color: rgb(86, 101, 144);
}


#search {
  width: 40%;
  padding: 1%;
  border: 1px solid black;
}

.body{
  display: grid;
  grid-template-columns: 2fr 10fr;
  height: 500px;
}

#left{
  border: 1px solid lightgrey;
  margin-right: 10%;
}

#left > p{
  font-size: 0.9em;
  text-decoration-line: none;
  margin: 10%;
  cursor: pointer;
}

#left > span {
  font-size: 1.2em;
  font-weight: bold;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13%;
}

#right{
  border: 1px solid lightgrey;
  width: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

#right > table {
  width: 100%;
  text-align: center;
}

#rightBox{
  border-collapse: collapse;
  border-color: lightgrey;
}

#listBox{
  height: 40px;
  background-color: lightgrey;
}

.list{
  height: 40px;
  cursor: pointer;
}

.list:hover{
  background-color: #e0f7fa;
}

#rightBox tr:nth-child(even){
  background-color: #f9f9f9;
}

#rightBox tr:nth-child(even):hover{
  background-color: #e0f7fa;
}