@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');


#recordTable > tbody >tr:hover{
    background-color: lightblue;
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
}
#recordTable{
  width: 700px;
}
#recordTable > tbody > tr > td{
  text-align: center;
}

#recordTable > thead > tr{
  text-align: center;
}



#divSearch{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}