#container {
	margin: 0 auto;
	display: grid;
	width: 90vw;
	height: 80vh;
	grid-template-columns: 5fr;
	grid-template-rows: 1fr;
	background-color: #eae9f0; /* 연한 하늘색 배경 */
}

section {
	display: flex;
	justify-content: center;
}

/*--------------------------------*/

#headerContainer {
	display: grid;
	grid-template-columns: 2fr 4fr 2fr;
	background:linear-gradient(90deg,#4A6FB9, #37538A, #3B30B8, #1B0063);
	border-radius: 15px;
	margin: 5%;
}

#headerContainer button{
	border: none;
	outline: none;
	background-color: transparent;
	color: white;
	
}
#headerContainer button:hover{
	color: #1B0063
}

#headerContainer div {
	/* border: 1px solid black; */
}

#headerContainer div:last-child {
	text-align: center;
	font-size: 16pt;
}

.btn{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	justify-items: center;
	align-content: center;

}
.btn h{
	font-size: small;
	color: white;
}

.btn #schedule, #noti{

}

#profile{
	display: grid;
	grid-template-rows: 1fr 1fr;
	text-align: center;

	color: white;
}


/*-------------------------------*/

#logout {
	height: 60px;
	width: 60px;
	max-width: 60px;
	padding: 10px;
	background-color: lightgreen;
	color: pink;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 15px;
}

#loginSpan {
	font-size: 15pt;
	font-weight: 800;
}

nav {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 15pt; /* 13pt 대신 15pt로 수정 */
	font-weight: 800;
}

.nav {
	margin: 3px;
	width: auto;
}

.nav a {
	color: darkgray;
	text-decoration-line: none;
}

nav:hover {
	color: lightgray;
}

#adminPageMain {
	display: grid;
	width: 100%;
	height: auto;
	min-height: 500px;
	border: 1px solid black;
	justify-content: center;
	align-content: center;
	background-color: #e0f1f0; /* 연한 하늘색 배경 */
}

#loginDiv {
	display: grid;
	width: 300px;
	height: 300px;
	border: 1px solid black;
	justify-items: center;
	align-items: center;
	background-color: #e0f1f0; /* 연한 하늘색 배경 */
}

#loginDiv input[type="text"],
#loginDiv input[type="password"] {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
}

#loginDiv input[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #54b5cc;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

#loginDiv input:hover {
	background-color: #45a049;
}

.formSubmit:hover {
	background-color: #0056b3;
}

#footer {
	width: 100%;
	height: 50px;
	background-color: #f1f1f1;
	border-top: 1px solid #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
}
