@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

#out{
  margin: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: 'Do Hyeon', sans-serif;
}

#listBox{
  width: 80%;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

#listHead{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 7fr ;
  text-align: center;
  align-items: center;
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 8px;
  border-bottom: 1px solid #000;
}

#listMain, #listBody{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 3fr 3fr 3fr 3fr;
  text-align: center;
}

#listMain > button{
  width: 30px;
  height: 25px;
  background-color: rgb(142, 160, 255);
  border: 1px solid rgb(86, 91, 114);
  border-radius: 5px;
  color: rgb(0, 26, 105);
  cursor: pointer;
}

#listMain{
  padding-bottom: 1%;
  border-bottom: 1px solid lightgray;
}

#listBody{
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: 1px solid lightgray;
}