body{
  display: grid;
  grid-template-rows: 10% 90%;
  background-color: rgb(223, 237, 250);
}

/*---------------------------*/
header{
  display: grid;
  grid-template-rows: 25% 50% 25%;
}

.logo{
  background-color: white;
}





/*---------------------------*/
main{
  
}

.popup{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
