body{
  display: grid;
  grid-template-rows: 20% 75% 5%;
}
/*-------------------*/

header{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-top: 5px solid #212121;
  border-bottom: 5px solid #212121;
}

.logo img{
  height: 100px;
  width: 100px;
}

.menu{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 justify-items: center;
 align-items: center;

}
header button{
 border: none;
 outline: none;
 color: #1f42c0;
 background-color: transparent;
 font-weight: 700;
 font-size: 15px;
}
header button:hover{
  color: #212121;
}

.profile input[type="file"]{
  height: 100px;
  width: 60px;
}
/*-------------------*/

main{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 3%;
}

main .middle{
  border: 5px solid #1f42c0;
}

.table{
  font-size: small;
}

.todo{
  display: grid;
  text-align: center;
  align-items: center;

  border: 3px solid #212121;
  border-radius: 10%;
  margin: 10%;
  margin-right: 0%;
}


.todo pre{
  color: #1f42c0;
  font-weight: 700;
  font-size: 15px;
  font-family: Impact;
}

/*-------------------*/
footer{
  display: grid;
  grid-template-rows: 2fr 1fr 2fr 1fr;
}

footer .brand{
  font-family: century ;
  font-size: small;
  
}
footer button{
  border: none;
  outline: none;
  background-color: transparent;
}

footer .btn{
  border-top: 1px solid #212121;

}
