#time {
    display: grid;
    font-family: "Jua";
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 40px auto;
    border: 2px solid #00bcd4;
    align-items: center;
    font-size: 18px;
}

.sidebar, #openBtn {
    z-index: 10; /* sidebar가 time div보다 앞에 오도록 높은 z-index 설정 */
}