    #time {

            color: #333;  /* 어두운 텍스트 색상 */
            font-family: 'Arial', sans-serif;  /* 폰트 스타일 */
            font-size: 25px;  /* 폰트 크기 */
            border-radius: 10px;  /* 둥근 모서리 */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* 그림자 효과 */
            border: 1px solid #ccc;  /* 연한 회색 테두리 */

        }

             .sidebar, #openBtn {
                z-index: 10; /* sidebar가 time div보다 앞에 오도록 높은 z-index 설정 */
            }