.profile-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.profile-pic {
    width: 50%;
    border-radius: 50%;
}

.button-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sidebar-btn {
    margin: 10px 0;
    padding: 10px 20px;
    width: 80%;
    background-color: #007BFF; /* 파란색 버튼 */
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.sidebar-btn:hover {
    background-color: #0056b3; /* 더 어두운 파란색 */
}

#sidebar.active {
  left: 0px;
}