/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative; /* 하단 버튼을 절대 위치로 배치할 때 기준 */
    height: 100vh; /* 전체 화면 높이 */
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* 초기 상태에서는 화면 밖에 위치 */
    background-color: #1a1a1a; /* 어두운 배경 */
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.profile-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.profile-pic {
    width: 50%;
    border-radius: 50%;
}

.button-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sidebar-btn {
    margin: 10px 0;
    padding: 10px 20px;
    width: 80%;
    background-color: #007BFF; /* 파란색 버튼 */
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.sidebar-btn:hover {
    background-color: #0056b3; /* 더 어두운 파란색 */
}

.open-btn {
    position: absolute;
    bottom: 20px; /* 하단에 위치 */
    left: 20px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #007BFF; /* 파란색 */
    color: white;
    border: none;
    border-radius: 5px;
}


.calendar-container {
  width: 80%;
  max-width: 800px;
  height: 600px; /* 적절한 높이 설정 */
  background-color: white; /* 배경 색상 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  border-radius: 10px; /* 모서리 둥글게 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.list-container {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f1f1f1;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}









table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table th, table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  color: #333;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #e0f7fa;
}

