/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative; /* 하단 버튼을 절대 위치로 배치할 때 기준 */
    height: 100vh; /* 전체 화면 높이 */
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* 초기 상태에서는 화면 밖에 위치 */
    background-color: #1a1a1a; /* 어두운 배경 */
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}



.open-btn {
    position: absolute;
    bottom: 20px; /* 하단에 위치 */
    left: 20px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #007BFF; /* 파란색 */
    color: white;
    border: none;
    border-radius: 5px;
}


.calendar-container {
  width: 80%;
  max-width: 800px;
  max-height: 80vh; /* 최대 높이 설정 */
  background-color: white; /* 배경 색상 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  border-radius: 10px; /* 모서리 둥글게 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: auto; /* 내부 콘텐츠가 많을 경우 스크롤 가능 */
}

.list-container {
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f1f1f1;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}






