@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

#out {
    margin: 5%;
    font-family: 'Do Hyeon', sans-serif;
}
#head{
  text-align: center;
}

#list{
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.evaluatorNo{
  text-align: end;
  margin-right: 10%;
  font-size: 1.2em;
}

#listBtn > button{
  width: 100px;
  height: 70px;
  font-size: 1.1em;
  font-family: 'Do Hyeon', sans-serif;
  margin: 5%;
  background-color: rgb(212, 240, 255);
  border: 1px solid rgb(0, 82, 126);
  border-radius: 5%;
  cursor: pointer;
}

#listBox {
  width: 80%;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

#listItemBox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 8px;
  border-bottom: 1px solid #000;
}

#listItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

#listItem > span{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ccc;
  margin: 2%;
  font-size: 1.2em;
  cursor: pointer;
}