#calendarContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid lightgray;
}

.formApponent{
    display: flex;
    justify-content: center;
    align-items: center;
}

#form{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: 2px solid lightgray;
    border-radius: 10px;
    height: 300px;
}

#startDate{
    border-right: 2px solid lightgray;
}

#startDateValue{
    border-right: 2px solid lightgray;
}

#endDate{
    border-right: 2px solid lightgray;
}

#project{
    border-right: 2px solid lightgray;
}

#reason{
    border-right: 2px solid lightgray;
}

#reasonValue{
    grid-column: span 3;
}

#approver{
    border-right: 2px solid lightgray;
}

textarea[name=reason]{
    width: 100%;
    resize: none;
    border: 0;
}

.first{
    border-bottom: 2px solid lightgray;
}

.second{
    border-bottom: 2px solid lightgray;
}

.third{
    border-bottom: 2px solid lightgray;
}

.th{
    background-color: rgb(210, 226, 231);
}

input[type=submit]{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: lightgray;
}

input[type=submit]:hover{
    background-color: rgb(188, 218, 228);
    cursor: pointer;
}
